@import 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  overflow: hidden;
  margin: auto;
  padding: 0.2rem 1rem 1rem;
  width: 95%;
}

img {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  overflow: hidden;
  margin: auto;
  padding: 0.2rem 1rem 1rem;
  width: 95%;
}
img {
  width: 100%;
}
.btn {
  text-decoration: none;
  color: #333;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 535;
}
.btn_primary {
  background-color: #264aca;
  color: #f2f2f2;
  transition: background 0.5s ease;
  font-size: 1.1rem;
}
.btn_primary:hover {
  background-color: #123fca;
  color: #fff;
}
.btn_secondary {
  text-align: center;
  border: 1px solid #264aca;
  color: #264aca;
  margin: 0 0 0 5px;
  transition: background 0.5s ease;
}
.btn_secondary:hover {
  color: #f2f2f2;
  background-color: #264aca;
}
.btn_third {
  color: #f2f2f2;
}
.btn_work {
  text-decoration: none;
  color: #f2f2f2;
  padding: 0.25rem 0;
  font-size: 1.1rem;
  font-weight: 535;
}
.work_btn {
  font-size: 1rem;
}
.btn_block {
  display: block !important;
  border: 0;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #264aca;
  background-color: #264aca;
  color: #dfdddd;
}
.upBtn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  color: #264aca;
  z-index: 999;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  overflow: hidden;
  margin: auto;
  padding: 0.2rem 1rem 1rem;
  width: 95%;
}
img {
  width: 100%;
}
.mouse {
  width: 25px;
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
}
.mouse-icon {
  width: 25px;
  height: 45px;
  border: 2px solid #264aca;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: #264aca;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
}
@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');
}
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: opacity 0.4s ease;
}
.loader img {
  width: 250px;
  height: 50px;
  display: block;
}
.loader .img1 {
  height: 250px;
}
#loader.finished {
  opacity: 0;
  pointer-events: none;
}
#loader.finished img {
  display: none;
}
body {
  background-color: #efeeee;
  font-family: 'Poppins', sans-serif;
}
body.overflow {
  overflow-y: hidden;
}
#navbar.show {
  position: sticky;
  top: 0;
  z-index: 99;
  min-height: 5vh;
  background-color: #33393b;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}
#navbar.show .img-container {
  height: 30px;
  width: 150px;
}
#navbar.show .container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar.show .container nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

#navbar.show .container nav > a {
  text-decoration: none;
}

#navbar.show .container nav > a:hover {
  color: #fff;
}

#navbar.show .container > nav.nav-mobile {
  display: none;
  color: #dbdada;
}
/* #navbar.show .container i.fas {
  display: none;
  color: #dbdada;
} */
header {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .img-container {
  height: 30px;
  width: 150px;
}

header .img-container img {
  z-index: 99;
}

header nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
section.home_section {
  height: 90vh;
  display: grid;
  grid-template-columns: 6fr 4fr;
  background-image: url('./imgs/home_bg_image.png');
  background-position: bottom right;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
section.home_section .section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.home_section .section_content .navigation .btn {
  font-size: 0.9rem;
  padding: 0.6rem 1.5rem;
}
section.home_section .section_content .heading {
  margin-bottom: 2rem;
}
section.home_section .section_content .heading h1 {
  font-size: 2.3rem;
  font-weight: 900 !important;
  margin-bottom: 1.3rem;
  letter-spacing: 0.5px;
}
section.home_section .section_content .heading p {
  font-size: 1.5rem;
  color: #545151;
  letter-spacing: 2px;
}
section.home_section .mobile_container {
  display: none;
}
.work_section {
  margin-top: 1.5rem;
}
.work_section h1.heading {
  text-align: center;
  color: #264aca;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  font-family: 'Montserrat', sans-serif !important;
}
.work_section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work_section-container .work_heading {
  margin: 1.5rem 0 0;
}
.work_section-container .work_heading img,
.work_section-container .work_heading svg {
  width: 250px;
  height: 250px;
}
.work_section-container .work_menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2.5rem 0 2.5rem;
  font-size: 1rem;
  text-align: center;
}
.work_section-container .work_menu a {
  cursor: pointer;
}
.work_section-container .work_menu a:hover {
  color: dodgerblue;
}
.work_section-container .my_works {
  display: flex;
}

.work_section-container .my_works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 1rem;
}

.work_section-container .my_works .card {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(0px);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.work_section-container .my_works .card .img-container {
  margin-bottom: 16px;
}
.work_section-container .my_works .card .img-container img {
  object-fit: cover;
}
.work_section-container .my_works .card:hover {
  box-shadow: 0px 6px 31px -2px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
  transition: transform 0.35s ease;
}
.footer {
  height: 11vh;
  background-color: #33393b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.footer a {
  text-decoration: none;
  color: #c9c9c9;
}
.footer .footer_content h1 {
  letter-spacing: 5px;
  font-size: 1.2rem;
  text-align: center;
}
.footer .social_media {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 25vw;
}
.footer .social_media a {
  cursor: pointer;
  font-size: 1.2rem;
}
.footer .social_media a:hover i {
  font-size: 2rem;
}
.footer .social_media i {
  transition: all 0.3s ease;
  pointer-events: none;
}
.form_submission .container {
  display: grid;
  grid-template-columns: 3.4fr 2fr;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
}
.form_submission .container .form {
  padding: 2rem;
}
.form_submission .container .form-control {
  margin-bottom: 1rem;
}
.form_submission .container .form-control label {
  display: block;
}
.form_submission .container .form-control input {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-radius: 3px;
}
.form_submission .container .form-control input:focus,
.form_submission .container .form-control textarea:focus {
  outline: none;
}
.form_submission .container .form-control textarea {
  width: 100%;
  height: 4rem;
  border: 0;
}
.form_submission .container .form button:focus {
  outline: none;
  border: 0;
}
.form_submission .container .form button:active {
  transform: scale(0.98);
}
.form_submission .container .video_container {
  max-width: 400px;
}
.form_submission .container .video_container .video {
  border-radius: 2.5rem;
  height: 100%;
  width: 100%;
}
#man {
  transform: translateY(-700px);
  transition: transform 1.5s ease;
}
#man.show {
  transform: translateY(0px);
}
#list {
  transform: translateX(700px);
  opacity: 0;
  transition: all 1.5s ease 0.7s;
}
#list.show {
  transform: translateX(0px);
  opacity: 1;
}
#left_hand {
  transform: translate(-25px) rotateX(20deg);
  transition: all 1s ease 1s;
}
#left_hand.show {
  transform: translate(0px) rotateX(0deg);
}
.active {
  border-bottom: 2px solid #264aca;
}
@media (max-width: 860px) {
  .calendar {
    width: 100%;
  }

  #navbar.show .container nav {
    display: none;
  }
  /* #navbar.show .container i.fas {
    display: block;
  } */
  #navbar.show .container > nav.nav-mobile {
    display: block;
  }
  .footer .footer_content h1 {
    font-size: 1rem;
  }
  .footer .social_media {
    min-width: 50vw;
  }
  .work_section .my_works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  section.home_section {
    grid-template-columns: 3fr 1fr;
    align-items: center;
    overflow: hidden;
  }
}
.upBtn {
  pointer-events: all;
  transform: translateX(150%);
  transition: transform 0.5s ease;
}
.upBtn.show {
  transform: translate(0%);
}
@media (max-width: 823px) {
  .btn {
    font-size: 0.9rem;
  }
  .mouse {
    bottom: 1%;
  }
  .mouse .mouse-icon {
    width: 20px;
    height: 35px;
  }
  section.home_section {
    background: none;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    align-items: center;
    overflow: hidden;
    text-align: center;
  }
  section.home_section .mobile_container {
    display: block;
    padding-bottom: 1rem;
  }
  section.home_section .mobile_img {
    display: block;
    width: 90%;
    margin: auto;
    object-fit: contain;
  }
  section.home_section .section_content {
    margin-top: 5rem;
  }
  section.home_section .section_content h1 {
    font-size: 1.7rem !important;
  }
  section.home_section .section_content p {
    font-size: 1.3rem !important;
  }
  section.home_section .navigation {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  section.home_section .navigation a:first-of-type {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 600px) {
  .work_section .my_works {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 664px) {
  .calendar {
    display: none;
  }

  .work_section-container .work_menu {
    margin: 1rem 0 2rem;
  }
}

@media (max-width: 650px) {
  .table-column {
    font-size: 10px;
  }

  .form_submission .container {
    grid-template-columns: 1fr;
  }
  .form_submission .container .video_container {
    display: none;
  }
}
@media (max-width: 466px) {
  .mouse {
    bottom: 0;
  }
  .mouse .mouse-icon {
    width: 20px;
    height: 35px;
  }
  section.home_section .navigation {
    display: flex;
    flex-direction: column;
  }
  section.home_section .navigation a {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
}

@media (max-height: 568px) {
  section.home_section .section_content {
    margin-top: 2.5rem;
  }
  section.home_section a {
    font-size: 0.7rem !important;
    margin-bottom: 1rem;
  }
  section.home_section .section_content h1 {
    font-size: 1rem !important;
  }
  section.home_section .section_content p {
    font-size: 1rem !important;
  }
  .footer .footer_content h1 {
    font-size: 0.75rem;
  }
  .footer .social_media i {
    font-size: 0.75rem;
  }
}
@media (max-height: 667px) {
  section.home_section .section_content {
    margin-top: 2.3rem;
  }
  section.home_section a {
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }
  section.home_section .section_content h1 {
    font-size: 1.3rem !important;
  }
  section.home_section .section_content p {
    font-size: 1rem !important;
  }
  .footer .footer_content h1 {
    font-size: 0.75rem;
  }
  .footer .social_media i {
    font-size: 0.75rem;
  }
}

@media (max-height: 731px) {
  section.home_section .section_content {
    margin-top: 1.6rem;
  }
}
@media (max-height: 823px) {
  section.home_section .section_content {
    margin-top: 1.3rem;
  }
}

.calendar {
  cursor: pointer;
  border: none;
  width: 100%;
  margin: 0 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #231b69, #5751aa);
  /* background-image: linear-gradient(#231b69, #443d9b); */
  background-size: 185%;
  background-position: left;
  /* box-shadow: 0 10px 65.9px -68px rgba(0, 0, 0, -0.053),
    0 13px 119.7px -68px rgba(0, 0, 0, -0.049),
    0 18.2px 162.6px -68px rgba(0, 0, 0, 0.029),
    0 27px 337px -68px rgba(0, 0, 0, 0.31); */

  transition: background-position 1s ease;
}

.calendar:hover {
  background-position: center;
}

#projects
  > div
  > div.calendar
  > div.position-relative
  > div
  > div.contrib-footer.clearfix.mt-1.mx-3.px-3.pb-1
  > div.float-left.text-gray {
  color: #eee;
}

.calendar a {
  text-decoration: none;
  color: rgb(207, 207, 207);
}
.calendar span {
  color: rgb(197, 197, 197);
}

/*# sourceMappingURL=style.css.map */

.projectDetail {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectDetail__badges {
  min-width: 220px;
  display: flex;
  justify-content: space-between;
}

.projectDetail__header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectDetail__heading {
  letter-spacing: 3px;
  color: #524f4f;
  font-size: 1.6rem;
}

.projectDetail__Image {
  display: block;
  width: 85%;
  /* max-height: 600px; */
  min-width: 60%;
  object-fit: contain;
  margin: 1.5rem 0;
}

.projectDetail__Description {
  padding: 1rem;
  text-align: center;
}

.projectDetail__Description > h3 {
  font-size: 1.5rem;
  color: #524f4f;
}

.projectDetail__Description > h3,
.projectDetail__Description > p {
  margin-bottom: 1rem;
  text-align: center;
}
.projectDetail__Description > blockquote > p {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.projectDetail__Description img {
  width: 100px;
  object-fit: contain;
  margin-left: 1rem;
}

.projectDetail__Description > blockquote > p > img {
  width: 100px;
  object-fit: contain;
  margin-left: 1rem;
}

.projectDetail__Description > blockquote > ul,
.projectDetail__Description > blockquote > ol {
  margin: 1rem 0;
}

.projectDetail__Description > blockquote > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.projectDetail__Description > blockquote > ol {
  width: fit-content;
  margin: auto;
}

.projectDetail__langages {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

.projectDetail__langagesHeading {
  font-size: 1.1rem;
}

.projectDetail__langagesIcones {
  margin-left: 1rem;
}

.projectDetail__BackendsIcones img,
.projectDetail__langagesIcones img {
  width: 80px;
  height: 50px;
  object-fit: contain;
  margin-left: 0.75rem;
}

.projectDetail__container {
  display: flex;
  margin-top: 1rem;
}

.fa-html5 {
  color: rgb(236, 159, 14);
}
.fa-css3-alt {
  color: rgb(37, 111, 185);
}

.fa-js {
  color: rgb(238, 192, 40);
}

.projectDetail__langagesIcones i {
  margin: 0 0.5rem;
}

.projectDetail__buttons {
  display: flex;
}

.projectDetail__buttons > button {
  margin: 1rem;
}

.collapseBtn {
  color: rgb(245, 245, 245);
}

@media (max-width: 1361px) {
  .projectDetail__header {
    flex-direction: column;
  }
}

@media (max-width: 787px) {
  .projectDetail__header {
    width: 100%;
  }
}
@media (max-width: 661px) {
  .projectDetail__buttons {
    flex-direction: column;
  }

  .projectDetail__buttons button.MuiButtonBase-root {
    width: fit-content;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .projectDetail__Image {
    width: 100%;
  }

  .projectDetail__langagesIcones {
    font-size: 0.75rem;
  }
}
